{% extends "base.html" %}
{% load i18n crispy_forms_tags i18n static %}


{% block content %}


<div class="container">

    <div class="text-center">

        <h1 class="mb-2">
            {% blocktrans %}{{ meeting }} session{% endblocktrans %}
            <small class="text-muted d-block my-2">
                {{ meeting.time }}
            </small>
        </h1>

    </div>

    <br>

    {% if meeting_status != 'PASSED' %}

        <p class="text-center">

            {% if meeting.host == user %}
                {% trans "You are hosting this session." %}
                <div class="text-center mt-4">
                    <a href="{{ meeting.start_url }}" target="_blank" class="btn btn-primary btn-lg">{% trans "Start the meeting" %}</a>
                </div>
            {% else %}
                {% if participation %}

                    {% if participation.tutor %}
                        {% trans "You are co-hosting this session." %}
                    {% else %}
                        {% trans "You are attending this session." %}
                    {% endif %}

                    <div class="text-center mt-4">
                        <a href="{{ meeting.join_url }}" target="_blank"
                           class="btn btn-primary btn-lg {% if meeting_status != 'NOW' %}disabled{% endif %}"
                        >
                            {% trans "Go to the meeting" %}
                        </a>
                        {% if meeting_status != 'NOW' %}
                            <div class="text-muted my-2">
                                {% blocktrans with meeting.time|timeuntil as timeuntil %}{{ timeuntil }} left{% endblocktrans %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mt-4 text-center">
                        <a href="{% url 'meeting_rsvp_cancel' meeting_id=meeting.id %}">{% trans "Cancel your participation" %}</a>
                    </div>

                {% else %}

                    {% if user.is_anonymous %}

                        <a href="{% url 'meeting_rsvp' meeting_id=meeting.id %}" class="btn btn-primary btn-lg">
                            {% trans "Join this session!" %}
                        </a>

                    {% else %}

                        <h3 class="text-center my-4">{% trans "Join this session!" %}</h3>

                        <form method="post" action="{% url 'meeting_rsvp' meeting_id=meeting.id %}">

                            {% csrf_token %}

                            <div id="div_id_tutor" class="form-group">

                                <table align="center">
                                    <tr>
                                        <td>
                                            {{ form|crispy }}
                                        </td>
                                    </tr>
                                </table>

                            </div>

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary btn-lg">{% trans "Reserve your place" %}</button>

                                <p class="small text-muted mt-4">
                                    {% url 'docs_conduct' as url_conduct %}
                                    {% blocktrans %}By joining a session, you accept the community <a href="{{ url_conduct }}">code of conduct</a>.{% endblocktrans %}
                                </p>

                            </div>

                        </form>

                    {% endif %}

                {% endif %}

            {% endif %}

        </p>

    {% else %}

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="alert alert-warning my-4" role="alert">
                    <strong>{% trans "This meeting is finished!" %}</strong>
                </div>
            </div>
        </div>

        {% if meeting_next %}
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="alert alert-success mb-3 show" role="alert">
						<strong>
                            {% blocktrans %}Next {{ meeting }} session{% endblocktrans %}:
							<a href="{{ meeting.get_absolute_url }}">{{ meeting.time }}</a>
                            <small>({% blocktrans with meeting_next.time|timeuntil as timeuntil %}{{ timeuntil }} left{% endblocktrans %})</small>
						</strong>
					</div>
				</div>
			</div>
        {% endif %}

    {% endif %}

    <p class="my-3">&nbsp;</p>

    <p class="my-4 text-center">

        <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&text={% blocktrans with time=meeting.time %}Join the {{ meeting }} session @ {{ time }}{% endblocktrans %} at Lingo Cafe&ref_src=twsrc%5Etfw" target="_blank">
            <img src="{% static 'logo-twitter.svg' %}" height="28" style="opacity: .5;" alt="{% trans 'Share on Twitter' %}">
        </a>

    </p>


</div>


{% endblock %}
