{% extends "base.html" %}
{% load i18n crispy_forms_tags i18n %}


{% block content %}


<div class="container">

    <div class="text-center">

        <h1 class="mb-4">
            {% blocktrans %}{{ meeting }} session{% endblocktrans %}
            <br>
            <small class="text-muted">
                {{ meeting.time }}
            </small>
        </h1>

    </div>


    {% if user in meeting.participants.all %}


    {% else %}

        <form method="post">

            {% csrf_token %}

            <div id="div_id_tutor" class="form-group">

                <table align="center">
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" checked="checked" name="tutor" id="id_tutor_1" value="False">
                                <label for="id_tutor_1" class="custom-control-label lead">
                                    {% trans "I want to practice" %}
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="tutor" id="id_tutor_2" value="True">
                                <label for="id_tutor_2" class="custom-control-label lead">
                                    {% trans "I want to tutor" %}
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Count me in!" %}</button>
            </div>

        </form>

    {% endif %}


</div>


{% endblock %}
